@model CrmUser
<div>
    @if(User.Identity.IsAuthenticated)
    {
        <div>Hello, @Model.DisplayName</div>
        
        <form action = "/Account/logout" method="post" asp-antiforgery="true">
            <button type="submit" class="mdl-button mdl-js-button
                                           mdl-button--raised
                                           mdl-button--colored
                                           mdl-js-ripple-effect">Logout
             </button>
         </form>

    }
    else
    {
        <a class="mdl-navigation__link" asp-action="Login" asp-controller="Account">Login</a>
    }
</div>